snippet imp "important!" iA
!important;$0
endsnippet

snippet back "background" bA
background: ${1:#041017} !important;$0
endsnippet

snippet bord "border" bA
border: ${1:1px} ${2:solid} ${3:#286d8c} !important;$0
endsnippet

snippet col "color" bA
color: ${1:#98c9d3} !important;$0
endsnippet

snippet rule "css rule thing" bA
$1 {
	$0
}
endsnippet
