global !p
def math():
	return vim.eval('vimtex#syntax#in_mathzone()') == '1'
endglobal

global !p
def comment():
	return vim.eval('vimtex#syntax#in_comment()') == '1'
endglobal
	
global !p
def env(name):
	[x,y] = vim.eval("vimtex#env#is_inside('" + name + "')")
	return x != '0' and y != '0'
endglobal

# greek_snip = '\\(alpha|beta|chi|[dD]elta|epsilona|[pP]hi|varphi|[gG]amma|eta|iota|kappa|[lL]ambda|mu|nu|[pP]i|[tT]heta|rho|[sS]igma|tau|[uU]psilon|[oO]mega|[xX]i|[pP]si|zeta)'

snippet template "Basic template" bA
%##########################################################################
\documentclass[12pt]{article}

%-------------------------------------------------------------------------------
%Preamble
%Either change the file path below to where you save
%Preamble.tex or copy and paste contents of Preamble.tex
%here and comment out line below
\IfFileExists{./Preamble.tex}{%
\input{Preamble.tex}
}{%
\input{/home/vilcius/Programming/LaTeX/Preamble.tex}
}
\usepackage{setspace}
%\onehalfspacing
\usepackage[margin=.5in]{geometry}

\setlength{\columnsep}{0pt}
\setlength{\tabcolsep}{5pt}
\renewcommand{\arraystretch}{2}
\setlength{\parindent}{0pt}
\renewcommand{\labelenumi}{(\alph{enumi})}

%-------------------------------------------------------------------------------
%Header
\setlength{\headheight}{12pt}

\newcommand{\myname}{Anthony Wilkie}
\newcommand{\course}{$1}
\newcommand{\topic}{$2}
\newcommand{\secnum}{Section 5.1}

%\pagestyle{empty}
%\fancyhf{}
\rhead{\course}
\chead{\topic}
\lhead{\secnum}
%\rfoot{Page \thepage}

%-------------------------------------------------------------------------------
%Title
\title{\vspace{-.75in}\secnum: \topic\vspace{-.5in}}
%\author{\topic}
\date{}

%##########################################################################
%Document
\begin{document}
	$0
\end{document}
%##########################################################################
endsnippet

snippet beamer "beamer" bA
%##########################################################################
\documentclass{beamer}

%--------------------------------------------------------------------------
%Preamble
%Either change the file path below to where you save
%Preamble.tex or copy and paste contents of Preamble.tex
%here and comment out line below
\IfFileExists{./Preamble.tex}{%
  \input{Preamble.tex}
}{%
  \input{/home/vilcius/Programming/LaTeX/Preamble.tex}
}

% \usepackage{amsrefs}
% \usepackage{setspace}
% \onehalfspacing

% \usetikzlibrary{quantikz2}
\usepackage{quantikz}
\usetikzlibrary{positioning}
\usetikzlibrary{overlay-beamer-styles}
\usepackage{algorithm}
\usepackage{algpseudocode}
\algrenewcommand\alglinenumber[1]{\tiny #1:}

% \usepackage[backend=biber,style=alphabetic,sorting=ynt]{biblatex}
% \addbibresource{Masters_Thesis.bib}

% \tikzcdset{ampersand replacement=\&}
% \tikzset{
%    invisible/.style={opacity=.25},
%    visible on/.style={alt={#1{}{invisible}}},
%    alt/.code args={<#1>#2#3}{%
%      \alt<#1>{\pgfkeysalso{#2}}{\pgfkeysalso{#3}}%
%  }
% }

% \setlength{\columnsep}{0pt}
% \setlength{\tabcolsep}{5pt}
% \renewcommand{\arraystretch}{2}
% \setlength{\parindent}{0pt}
% \renewcommand{\labelenumi}{(\alph{enumi})}
\newcommand{\labelitemi}{\setbeamercolor{math text}{fg = rpPink}$\blacktriangleright$}
\newcommand{\labelitemii}{\setbeamercolor{math text}{fg = rpLightBlue}$\blacktriangleright$}

%--------------------------------------------------------------------------
%Header
\usetheme{Warsaw}
\setbeamercolor{structure}{fg=rpBlue}
\setbeamercolor{math text}{fg=rpLightBlue}
\setbeamercolor{section in head/foot}{fg=rpPink,bg=rpDarkPurple}
\setbeamercolor{page number in head/foot}{fg=rpYellow}
\setbeamercolor{title in head/foot}{fg=black}
\setbeamercolor{title}{fg=black}
\setbeamercolor{frametitle}{fg=black}
\setbeamercolor{block title}{fg=black}
% \setbeamercolor{itemize subitem}{bg=color3}
\setbeamercolor{normal text}{fg=rpWhite, bg = rpLightPurple}
% \setbeamercolor{normal text}{fg = background, bg=color7}
\newcommand*\oldmacro{}%
\let\oldmacro\insertshorttitle%
\renewcommand*\insertshorttitle{%
  \oldmacro\hfill%
\insertframenumber\,/\,\inserttotalframenumber}
\setbeamercovered{transparent}

\newcommand{\myname}{\textit{Anthony Wilkie}}
\newcommand{\course}{}
\newcommand{\topic}{${1: topic}}

%-------------------------------------------------------------------------------
% Local Commands
\renewcommand{\textit}[1]{\tc{rpYellow}{\emph{#1}}}

%--------------------------------------------------------------------------
%Title
\title[${2: short title}]{\topic}
\author[Anthony Wilkie]{\myname}
\institute{University of Tennessee}
\date{${3: today}}

%##########################################################################
%Document
\begin{document}

%-------------------------------------------------------------------------------
% Frame Title
\begin{frame}
  \maketitle
\end{frame}

$0

\end{document}
endsnippet


snippet beg "begin{} / end{}" bA
\\begin{$1}
	$2
\\end{$1}
$0
endsnippet

priority 100
snippet ... "ldots" iA
\ldots
endsnippet

snippet vs "Vspace" bA
\vspace{$1}
$0
endsnippet

snippet table "Table environment" b
\begin{table}[${1:htpb}]
	\centering
	\caption{${2:caption}}
	\label{tab:${3:label}}
	\begin{tabular}{${5:c}}
	$0${5/((?<=.)c|l|r)|./(?1: & )/g}
	\end{tabular}
\end{table}
endsnippet

snippet fig "Figure environment" b
\begin{figure}[${1:htpb}]
	\centering
	${2:\includegraphics[width=0.8\textwidth]{$3}}
	\caption{${4:$3}}
	\label{fig:${5:${3/\W+/-/g}}}
\end{figure}
endsnippet

snippet ig "Include Graphics" bA
\includegraphics[scale=$1]{$2}$0
endsnippet

snippet enum "Enumerate" bA
\begin{enumerate}
	\item $0
\end{enumerate}
endsnippet

snippet item "Itemize" bA
\begin{itemize}
	\item $0
\end{itemize}
endsnippet

snippet itm "Item" bA
\item $0
endsnippet

snippet desc "Description" bA
\begin{description}
	\item[$1] $0
\end{description}
endsnippet

snippet sol "Solution" bA
\begin{solution}
	$0
\end{solution}

endsnippet

snippet mini "Minipage" bA
\begin{minipage}{$1}
	$2
\end{minipage}
$0
endsnippet

snippet cd "Tikzcd" bA
\begin{tikzcd}
	$1
\end{tikzcd}$0
endsnippet

snippet proof "Proof" bA
\begin{proof}
	$1
\end{proof}
$0
endsnippet

snippet '([s]*)sec' "Section" rbA
%-------------------------------------------------------------------------------
% S`!p snip.rv = 'ubs'*len(match.group(1))`ection $1
\s`!p snip.rv = 'ubs'*len(match.group(1))`ection{$1}\label{`'s'*len(match.group(1))`sec: $1}
$0
endsnippet

snippet *sec "Section" bA
%-------------------------------------------------------------------------------
% Section $1
\section*{$1}$0
endsnippet

snippet frame "Frame" bA
%-------------------------------------------------------------------------------
% Frame $1
\begin{frame}{$1}
	$0
\end{frame}
endsnippet

snippet block "Block" bA
\begin{block}{$1}
	$0
\end{block}
endsnippet

snippet '(s*defn)' "Definition" rbA
%-------------------------------------------------------------------------------
% Definition $1
\begin{`!p snip.rv = match.group(1)`}\label{defn: $1}
	$2
\end{`!p snip.rv = match.group(1)`}
endsnippet

snippet *defn "Definition" bA
%-------------------------------------------------------------------------------
% Definition
\begin{defn*}
	$1
\end{defn*}
endsnippet

snippet '(s*thm)' "Theorem" rbA
%-------------------------------------------------------------------------------
% Theorem $1
\begin{`!p snip.rv = match.group(1)`}\label{thm: $1}
	$2
\end{`!p snip.rv = match.group(1)`}
endsnippet

snippet *thm "Theoem" bA
%-------------------------------------------------------------------------------
% Theorem
\begin{thm*}
	$1
\end{thm*}
endsnippet

snippet '(s*prop)' "Proposition" rbA
%-------------------------------------------------------------------------------
% Proposition $1
\begin{`!p snip.rv = match.group(1)`}\label{prop: $1}
	$2
\end{`!p snip.rv = match.group(1)`}
endsnippet

snippet *prop "Proposition" bA
%-------------------------------------------------------------------------------
% Proposition
\begin{prop*}
	$1
\end{prop*}
endsnippet

snippet '(s*cor)' "Corollary" rbA
%-------------------------------------------------------------------------------
% Corollary $1
\begin{`!p snip.rv = match.group(1)`}\label{cor: $1}
	$2
\end{`!p snip.rv = match.group(1)`}
endsnippet

snippet *cor "Corollary" bA
%-------------------------------------------------------------------------------
% Corollary
\begin{cor*}
	$1
\end{cor*}
endsnippet

snippet '(s*lem)' "Lemma" rbA
%-------------------------------------------------------------------------------
% Lemma $1
\begin{`!p snip.rv = match.group(1)`}\label{lem: $1}
	$2
\end{`!p snip.rv = match.group(1)`}
endsnippet

snippet *lem "Lemma" bA
%-------------------------------------------------------------------------------
% Lemma
\begin{lem*}
	$1
\end{lem*}
endsnippet

snippet '(s*exmp)' "Example" rbA
%-------------------------------------------------------------------------------
% Example $1
\begin{`!p snip.rv = match.group(1)`}\label{exmp: $1}
	$2
\end{`!p snip.rv = match.group(1)`}
endsnippet

snippet *exmp "Example" bA
%-------------------------------------------------------------------------------
% Example
\begin{exmp*}
	$1
\end{exmp*}
endsnippet

snippet '(s*exer)' "Exercise" rbA
%-------------------------------------------------------------------------------
% Exercise $1
\begin{`!p snip.rv = match.group(1)`}\label{exer: $1}
	$2
\end{`!p snip.rv = match.group(1)`}
endsnippet

snippet *exer "Exercise" bA
%-------------------------------------------------------------------------------
% Exercise
\begin{exer*}
	$1
\end{exer*}
endsnippet

snippet 'named(def|thm)' "Named" rbA
%-------------------------------------------------------------------------------
% $1
\begin{`!p snip.rv = match.group(0)`}[$1]
	$2
\end{`!p snip.rv = match.group(0)`}
endsnippet

snippet '(s*const)' "Construction" rbA
%-------------------------------------------------------------------------------
% Construction $1
\begin{`!p snip.rv = match.group(1)`}\label{const: $1}
	$2
\end{`!p snip.rv = match.group(1)`}
endsnippet

snippet *const "Construction" bA
%-------------------------------------------------------------------------------
% Construction
\begin{const*}
	$1
\end{const*}
endsnippet

snippet %-- "%--" bA
%-------------------------------------------------------------------------------
$0
endsnippet

snippet %-p "%Problem" bA
%-------------------------------------------------------------------------------
% Problem $1
$0
endsnippet

snippet pac "Package" bA
\usepackage${1:[${2:options}]}{${3:package}}$0
endsnippet

snippet => "implies" Ai
\implies
endsnippet

context "math()"
snippet ;; "Circ" iA
\circ $0
endsnippet

context "math()"
snippet b; "Bullet" iA
\bullet
endsnippet 

priority 100
context "math()"
snippet '\siff' "iff" rAi
\iff
endsnippet

snippet mk "Math" wA
$${1}$`!p
if t[2] and t[2][0] not in [',', '.', '?', '-', ' ', "'", ')', '}']:
	snip.rv = ' '
else:
	snip.rv = ''
`$2
endsnippet

snippet dm "Math" wA
\[
	$1
\]
endsnippet

snippet ali "Align" bA
\begin{align*}
	${1:${VISUAL}}
\end{align*}
$0
endsnippet

context "math()"
snippet // "Fraction" iA
\\frac{$1}{$2}$0
endsnippet

snippet / "Fraction" i
\\frac{${VISUAL}}{$1}$0
endsnippet

context "math()"
snippet '((\d+)|(\d*)(\\)?([A-Za-z]+)((\^|_)(\{\d+\}|\d))*|(?<=\s)\\sqrt\{.*\})/' "symbol frac" wrA
\\frac{`!p snip.rv = match.group(1)`}{$1}$0
endsnippet

priority 1000
context "math()"
snippet '^.*\)/' "() frac" wrA
`!p
stripped = match.string[:-1]
depth = 0
i = len(stripped) - 1
while True:
	if stripped[i] == ')': depth += 1
	if stripped[i] == '(': depth -= 1
	if depth == 0: break;
	i-=1
snip.rv = stripped[0:i] + "\\frac{" + stripped[i+1:-1] + "}"
`{$1}$0
endsnippet

context "math()"
snippet '(?<!color)([A-Za-z])(\d)' "auto subscript" wrA
`!p snip.rv = match.group(1)`_`!p snip.rv = match.group(2)`
endsnippet

context "math()"
snippet '([A-Za-z])_(\d\d)' "auto subscript2" wrA
`!p snip.rv = match.group(1)`_{`!p snip.rv = match.group(2)`}
endsnippet

snippet sympy "sympyblock " w
sympy $1 sympy$0
endsnippet

priority 10000
snippet 'sympy(.*)sympy' "sympy" wr
`!p
from sympy import *
x, y, z, t = symbols('x y z t')
k, m, n = symbols('k m n', integer=True)
f, g, h = symbols('f g h', cls=Function)
init_printing()
snip.rv = eval('latex(' + match.group(1).replace('\\', '').replace('^', '**').replace('{', '(').replace('}', ')') + ')')
`
endsnippet

priority 1000
snippet math "mathematicablock" w
math $1 math$0
endsnippet

priority 10000
snippet 'math(.*)math' "math" wr
`!p
import subprocess
code = match.group(1)
code = 'ToString[' + code + ', TeXForm]'
snip.rv = subprocess.check_output(['wolframscript', '-code', code])
`
endsnippet

snippet == "equals" iA
&= $1 \\\\
endsnippet

snippet != "equals" iA
\neq 
endsnippet

context "math()"
snippet =. "equals" iA
\eqby{.} $1
endsnippet

context "math()"
snippet ceil "ceil" iA
\left\lceil $1 \right\rceil $0
endsnippet

priority 100
context "math()"
snippet floor "floor" iA
\left\lfloor $1 \right\rfloor$0
endsnippet

context "math()"
snippet '([bp][t]?)mat' "bmat" rbiA
\begin{`!p snip.rv = match.group(1)`matrix} 
	$1
\end{`!p snip.rv = match.group(1)`matrix} $0
endsnippet

context "math()"
snippet () "()" iA
($1)$0
endsnippet

context "math()"
snippet "(?<!\\){}" "{}" riA
{$1}$0
endsnippet

context "math()"
snippet [] "()" iA
[$1]$0
endsnippet

priority 100
context "math()"
snippet lr( "left( right)" iA
\left( ${1:${VISUAL}} \right)$0
endsnippet

context "math()"
snippet lr| "left| right|" iA
\left| ${1:${VISUAL}} \right|$0
endsnippet

context "math()"
snippet lr{ "left\{ right\}" iA
\left\\{ ${1:${VISUAL}} \right\\}$0
endsnippet

context "math()"
snippet {{ "left\{ right\}" iA
\\{ ${1:${VISUAL}} \\}$0
endsnippet

context "math()"
snippet lr[ "left[ right]" iA
\left[ ${1:${VISUAL}} \right]$0
endsnippet

context "math()"
snippet 'lr(a|<)' "leftlangle rightrangle" riA
\left\langle ${1:${VISUAL}} \right\rangle$0
endsnippet

context "math()"
snippet '(l(?!>)|r(?!<))(<|>)' "langle rangle" riA
\\`!p snip.rv = match.group(1)`angle$0
endsnippet

context "math()"
snippet '(?<![a-zA-Z])llb' "llbracket rrbracket" riA
\left\llbracket ${1:${VISUAL}} \right\rrbracket$0
endsnippet

context "math()"
snippet conj "conjugate" iA
\overline{$1}$0
endsnippet

context "math()"
snippet sum "sum" wA
\sum_{$1}^{$2} $3
endsnippet

context "math()"
snippet taylor "taylor" wA
\sum_{${1:k}=${2:0}}^{${3:\infty}} ${4:c_$1} (x-a)^$1 $0
endsnippet

context "math()"
snippet '(?<!\\)lim' "limit" rwA
\lim$1_{${2:n} \to ${3:\infty}} 
endsnippet

context "math()"
snippet prod "product" wA
\prod_{${1:n=${2:1}}}^{${3:\infty}} ${4:${VISUAL}} $0
endsnippet

#context "math()"
#snippet part "d/dx" wA
#\frac{\partial ${1:V}}{\partial ${2:x}} $0
#endsnippet
#
context "math()"
snippet sq "\sqrt{}" wA
\sqrt{${1:${VISUAL}}}$0
endsnippet

context "math()"
snippet ^^ "to the ... power" iA
^{$1}$0
endsnippet

context "math()"
snippet __ "subscript" iA
_{$1}$0
endsnippet

priority 100
context "math()"
snippet ooo "\infty" iA
\infty
endsnippet

snippet rij "mrij" i
(${1:x}_${2:n})_{${3:$2}\\in${4:\\N}}$0
endsnippet

snippet <= "leq" iA
\le 
endsnippet

snippet >= "geq" iA
\ge 
endsnippet

context "math()"
snippet '\sEE' "exists" siA
 \exists 
endsnippet

context "math()"
snippet '\sAA' "forall" riA
 \forall 
endsnippet

priority 100
context "math()"
snippet '(?<!\\)\b([A-Za-z}])([A-Za-z])\2\b' "_n" riA
`!p snip.rv = match.group(1)`_`!p snip.rv = match.group(2)`
endsnippet

context "math()"
snippet '_([A-Za-z])([A-Za-z])' "_ij" riA
_{`!p snip.rv = match.group(1)`,`!p snip.rv = match.group(2)`}$0
endsnippet

context "math()"
snippet '(\\?[A-Za-z]*{?[A-Za-z]*}?),,' "A list" riA
`!p snip.rv = match.group(1)`_{${1:0}}, ${2:`!p snip.rv = match.group(1)`_{${3:1}}, }\ldots, `!p snip.rv = match.group(1)`_{${4:n}}
endsnippet

snippet plot "Plot" bA
\begin{figure}[$1]
	\centering
	\begin{tikzpicture}
    \draw[->] (0,0) -- (5,0) node[right] {$w$};
    \draw[->] (0,0) -- (0,3) node[above] {$U(w)$};
    \node[below right] at (2,0) {$G$};
    \draw[domain=1.5:2] plot (\x, \x^2) node[below left] {$r = 4$};
	\end{tikzpicture}
	\caption{$8}
	\label{${9:$8}}
\end{figure}
endsnippet

priority 100
context "math()"
snippet lll "l" iA
\ell
endsnippet

context "math()"
snippet nabl "nabla" iA
\nabla 
endsnippet

context "math()"
snippet '\sxx' "cross" riA
 \times 
endsnippet

context "math()"
snippet '\sXX' "Cross" riA
 \times \cdots \times 
endsnippet

context "math()"
snippet '\s\+\+' "Cross" riA
 + \cdots + 
endsnippet

priority 100
context "math()"
snippet '\s\*\*' "cdot" riA
 \cdot 
endsnippet

context "math()"
snippet norm "norm" iA
\norm{$1}$0
endsnippet

priority 300
context "math()"
snippet dint "integral" wA
\int_{${1:-\infty}}^{${2:\infty}} ${3:${VISUAL}} $0
endsnippet

priority 300
context "math()"
snippet '(?<!\\)(((arc)?(sin|cos|tan|cot|csc|sec))|(arg)?(max|min)|l(n|og)|exp)' "ln" rwA
\\`!p snip.rv = match.group(1)`
endsnippet

priority 100
context "math()"
snippet '(?<![0-9<])->' "to" riA
\to 
endsnippet

priority 200
context "math()"
snippet <-> "leftrightarrow" iA
\leftrightarrow
endsnippet

context "math()"
snippet !> "mapsto" iA
\mapsto 
endsnippet

context "math()"
snippet \\\ "setminus" iA
\setminus
endsnippet

snippet >> ">>" iA
\gg
endsnippet

snippet << "<<" iA
\ll
endsnippet

snippet ~~ "~" iA
\sim 
endsnippet

snippet || "mid" iA
 \mid 
endsnippet

priority 100
context "math()"
snippet '\scc' "subset" riA
 \sseq 
endsnippet

priority 100
context "math()"
snippet '\see' "subset" riA
 \in 
endsnippet

priority 100
context "math()"
snippet '\snn' "cap" riA
 \cap 
endsnippet

priority 100
context "math()"
snippet '\suu' "cup" riA
 \cup 
endsnippet

priority 100
context "math()"
snippet '\sUU' "bigcup" riA
 \bigcup_{${1:i \in ${2: I}}} $0
endsnippet

priority 100
context "math()"
snippet '\sNN' "bigcap" riA
 \bigcap_{${1:i \in ${2: I}}} $0
endsnippet

context "math()"
snippet '\sOO' "emptyset" riA
 \emptyset
endsnippet

context "math()"
snippet '\sor' "Or" rA
 \vee $0
endsnippet

context "math()"
snippet '\sOr' "OR" riA
 \bigvee_{${1:i \in I}} $0
endsnippet

context "math()"
snippet '\sand' "And" rA
 \wedge $0
endsnippet

context "math()"
snippet '\sAnd' "AND" riA
 \bigwedge_{${1:i \in I}} $0
endsnippet

context "math()"
snippet '\snot' "Not" rA
 \neg $0
endsnippet

context "math()"
snippet <! "normal" iA
\triangleleft 
endsnippet

context "math()"
snippet tt "text" iA
\text{$1}$0
endsnippet

context "math()"
snippet case "cases" wA
\begin{cases}
	$1
\end{cases}
endsnippet

snippet bigfun "Big function" iA
\begin{align*}
	$1: $2 &\longrightarrow $3 \\\\
	$4 &\longmapsto $1($4) = $0
\end{align*}
endsnippet

priority 100
snippet "(?<!\\|[a-zA-Z])([a-zA-Z])bar" "bar" riA
\overline{`!p snip.rv=match.group(1)`}
endsnippet

# priority 200
# context "math()"
# snippet  '\\(alpha|beta|chi|[dD]elta|epsilon|[pP]hi|varphi|[gG]amma|eta|iota|kappa)bar' "greek bar" riA
# \overline{`!p snip.rv=match.group(1)`}
# endsnippet

# priority 200
# context "math()"
# snippet  '\\([lL]ambda|mu|nu|[pP]i|[tT]heta|rho|[sS]igma|tau|[uU]psilon|[oO]mega|[xX]i|[pP]si|zeta)bar' "greek bar" riA
# \overline{`!p snip.rv=match.group(1)`}
# endsnippet

priority 100
context "math()"
snippet "(?<!\\|[a-zA-Z])([a-zA-Z])hat" "hat" riA
\hat{`!p snip.rv=match.group(1)`}
endsnippet

# priority 200
# context "math()"
# snippet '(\\(([lL]ambd|[oO]meg|alph|([sS]ig|[gG]am)m|kapp|(io|[bdtzBDT]?(h)?e(l)?)t)a|(var)?([cpP][hs]?|[xX])i|rho|[mnt](a)?u|[euU]psilon))hat' "greek hat" riA
# \hat{`!p snip.rv=match.group(1)`}
# endsnippet

priority 100
context "math()"
snippet "(?<!\\|[a-zA-Z])([a-zA-Z])vec" "Vec" riA
\vec{`!p snip.rv=match.group(1)`}
endsnippet 

priority 100
context "math()"
snippet '(\$|\s)vv' "Vec" riA
`!p snip.rv=match.group(1)`\vec{$1}$0
endsnippet


# priority 200
# context "math()"
# snippet '(\\(([lL]ambd|[oO]meg|alph|([sS]ig|[gG]am)m|kapp|(io|[bdtzBDT]?(h)?e(l)?)t)a|(var)?([cpP][hs]?|[xX])i|rho|[mnt](a)?u|[euU]psilon))vec' "greek vec" riA
# \vec{`!p snip.rv=match.group(1)`}
# endsnippet

priority 100
context "math()"
snippet "(?<!\\|[a-zA-Z])mc([A-Z])" "Math Calagriphy" riA
\mathcal{`!p snip.rv=match.group(1)`}
endsnippet

priority 100
context "math()"
snippet "(?<!\\|[a-zA-Z])mf([a-zA-Z])" "Math Fraktur" riA
\mathfrak{`!p snip.rv=match.group(1)`}
endsnippet

priority 100
context "math()"
snippet "(?<!\\|[a-zA-Z])mb([A-Z])" "Math Blackboard" riA
\mathbb{`!p snip.rv=match.group(1)`}
endsnippet

priority 100
context "math()"
snippet "(?<!\\|[a-zA-Z])md([a-zA-Z])" "Math Bold Face" riA
\mathbf{`!p snip.rv=match.group(1)`}
endsnippet

priority 100
context "math()"
snippet '(\$|\s)bf' "Math Bold Face" riA
`!p snip.rv=match.group(1)`\mathbf{$1}$0
endsnippet

priority 100
context "math()"
snippet '(\$|\s)rm' "Math Text" riA
`!p snip.rv=match.group(1)`\mathrm{$1}$0
endsnippet

priority 100
context "math()"
snippet "(?<!\\|[a-zA-Z])ms([A-Z])" "Math Script" riA
\mathscr{`!p snip.rv=match.group(1)`}
endsnippet

priority 100
context "math()"
snippet "(?<!\\|[a-zA-Z])mz([A-Z])" "Math Cat" riA
\mcat{`!p snip.rv=match.group(1)`}
endsnippet

priority 100
context "math()"
snippet "(?<!\\|[a-zA-Z])([a-zA-Z])star" "Star" riA
`!p snip.rv=match.group(1)`^{*}
endsnippet 

priority 100
context "math()"
snippet "(?<!\\|[a-zA-Z])([a-zA-Z])sstar" "Sub Star" riA
`!p snip.rv=match.group(1)`_{*}
endsnippet 

context "math()"
snippet Hom "Hom" iA 
\Hom
endsnippet 

context "math()"
snippet "(?<!\\|[a-zA-Z])Fun" "Fun" riA
\Fun$1(${2:\mcat{C}},${3:\mcat{D}})$0
endsnippet 

context "math()"
snippet "(?<!\\|[a-zA-Z])Mod" "Mod" riA
\Mod(${1:\mcat{C}})$0
endsnippet 

context "math()"
snippet "(?<!\\|[a-zA-Z])Ult" "Ult" riA 
\Ult
endsnippet 

context "math()"
snippet "(?<!\\|[a-zA-Z])LUlt" "LUlt" riA 
\LUlt
endsnippet 

context "math()"
snippet Def "Def" iA
\Def(${1:T})$0
endsnippet

context "math()"
snippet "(?<!\\|[a-zA-Z])Syn" "Syn" riA
\Syn(${1:T})$0
endsnippet

context "math()"
snippet "(?<!\\|[a-zA-Z])det" "det" riA
\det\left(${1:\mbf{A}}\right)$0
endsnippet 

context "math()"
snippet "(?<!\\|[a-zA-Z])Seq" "Syn" riA
\Syn^{eq}(${1:T})$0
endsnippet

snippet '(\(|\s)tb' "Text Bold" riA
`!p snip.rv=match.group(1)`\textbf{$1}$0
endsnippet

snippet '(\(|\s)tit' "Text Italics" riA
`!p snip.rv=match.group(1)`\textit{$1}$0
endsnippet

snippet udl "Text Underline" A
\underline{$1}$0
endsnippet

context "math()"
snippet up "Ultraproduct" i
\int_${1:S} ${2:M_s} d${3:\mu}$0
endsnippet

context "math()"
snippet sprod "Set Product" iA
\prod_{${1:s} \in ${2:S_0}} ${3:M_s}$0
endsnippet

context "math()"
snippet ft "Fubini Transform" wA
\Delta_{${1:\mu},${2:\nu_\bullet}}$0
endsnippet

context "math()"
snippet nat "Natural Transformation" A
\Rightarrow$0
endsnippet

context "math()"
snippet es "Principal Transform" wA
\epsilon_{${1:S},${2:s_0}}$0
endsnippet

context "math()"
snippet csq "Commutative Square" bA
\begin{tikzcd}
	$1 \arrow[r, "$2"] \arrow[d, "$4"] 
	& $3 \arrow[d, "$5"] \\\\
	$6 \arrow[r, "$7"] 
	& $8
\end{tikzcd}$0
endsnippet

context "math()"
snippet ctr "Commutative Triangle" bA
\begin{tikzcd}
	$1 \arrow[rr, "$2"] \arrow[rd, "$4"'] 
	& & $3 \arrow[ld, "$5"] \\\\
	& $6 &
\end{tikzcd}$0
endsnippet

context "math()"
snippet `a "alpha" iA
\alpha
endsnippet

context "math()"
snippet `b "beta" iA
\beta
endsnippet

context "math()"
snippet `c "chi" iA
\chi
endsnippet

context "math()"
snippet `d "delta" iA
\delta
endsnippet

context "math()"
snippet `e "epsilon" iA
\epsilon
endsnippet

context "math()"
snippet `f "phi" iA
\phi
endsnippet

context "math()"
snippet `vf "phi" iA
\varphi
endsnippet

context "math()"
snippet `g "gamma" iA
\gamma
endsnippet

context "math()"
snippet `h "eta" iA
\eta
endsnippet

context "math()"
snippet `i "iota" iA
\iota
endsnippet

context "math()"
snippet `k "kappa" iA
\kappa
endsnippet

context "math()"
snippet `l "lambda" iA
\lambda
endsnippet

context "math()"
snippet `m "mu" iA
\mu
endsnippet

context "math()"
snippet `n "nu" iA
\nu
endsnippet

context "math()"
snippet `p "pi" iA
\pi
endsnippet

context "math()"
snippet `q "theta" iA
\theta
endsnippet

context "math()"
snippet `r "rho" iA
\rho
endsnippet

context "math()"
snippet `s "sigma" iA
\sigma
endsnippet

context "math()"
snippet `t "tau" iA
\tau
endsnippet

context "math()"
snippet `u "upsilon" iA
\upsilon
endsnippet

context "math()"
snippet `w "omega" iA
\omega
endsnippet

context "math()"
snippet `x "xi" iA
\xi
endsnippet

context "math()"
snippet `y "psi" iA
\psi
endsnippet

context "math()"
snippet `z "zeta" iA
\zeta
endsnippet

context "math()"
snippet `D "Delta" iA
\Delta
endsnippet

context "math()"
snippet `F "Phi" iA
\Phi
endsnippet

context "math()"
snippet `G "Gamma" iA
\Gamma
endsnippet

context "math()"
snippet `L "Lambda" iA
\Lambda
endsnippet

context "math()"
snippet `P "Pi" iA
\Pi
endsnippet

context "math()"
snippet `Q "Theta" iA
\Theta
endsnippet

context "math()"
snippet `S "Sigma" iA
\Sigma
endsnippet

context "math()"
snippet `U "Upsilon" iA
\Upsilon
endsnippet

context "math()"
snippet `W "Omega" iA
\Omega
endsnippet

context "math()"
snippet `X "Xi" iA
\Xi
endsnippet

context "math()"
snippet `Y "Psi" iA
\Psi
endsnippet

snippet "\<([^<|>]*)\|" "bra" riA
\bra{`!p snip.rv = match.group(1)`}
endsnippet

snippet "\|([^<|>]*)\>" "ket" riA
\ket{`!p snip.rv = match.group(1)`}
endsnippet

snippet "(.*)\\bra{([^<|>]*)}([^\|]*?)\>" "braket" riA
`!p snip.rv = match.group(1)`\braket{`!p snip.rv = match.group(2)`}{`!p snip.rv = match.group(3)`}
endsnippet

context "math()"
snippet '\stn' "Tensor" riA
 \tensor
endsnippet

context "math()"
snippet '\sTn' "Tensor" riA
 \Tensor_{${1:i=0}}^{${2:N}} ${0:\sigma_i}
endsnippet

context "math()"
snippet '\sop' "Direct Sum" riA
 \oplus
endsnippet

context "math()"
snippet '\sOp' "Direct Sum" riA
 \bigoplus_{${1:i=0}}^{${2:N}} ${0:\sigma_i}
endsnippet

snippet wrt "with respect to" iA
with respect to
endsnippet

context "math()"
snippet qcirc "Qcircuit" bA
\begin{quantikz}
	${1:\lstick{${2:$\ket{0}$}} & }\qw & $0
\end{quantikz}
endsnippet

context "math()"
snippet '\sgate' "\gate" riA
 \gate{${1:H}} & $0
endsnippet

context "math()"
snippet qbit "qbit" iA
\lstick{${1:$\ket{0}$}} & $0
endsnippet
   
context "math()"
snippet '\sqw' "quantum wire" riA
 \qw ${1:&} $0
endsnippet

context "math()"
snippet '\sctrl' "\ctrl" riA
 \ctrl{${1:1}} & $0
endsnippet

context "math()"
snippet '\starg' "\targ" riA
 \targ{$1} & $0
endsnippet

snippet '(?<!(p|a))qaoa' "QAOA" riA
QAOA
endsnippet

snippet pqaoa "p-QAOA" iA
$${1:p}$-QAOA
endsnippet

snippet '(?<!p)maqaoa' "ma-QAOA" riA
ma-QAOA
endsnippet

snippet pmaqaoa "p-ma-QAOA" iA
$${1:p}$-ma-QAOA
endsnippet

snippet qubo "QUBO" iA
QUBO
endsnippet

snippet gqml "GQML" iA
GQML
endsnippet

snippet '(?<!(g))qml' "QML" riA
QML
endsnippet

snippet nisq "NISQ" iA
NISQ
endsnippet

snippet '(?<!(e))qnn' "QNN" riA
QNN
endsnippet

snippet eqnn "EQNN" iA
EQNN
endsnippet

snippet qcnn "QCNN" iA
QCNN
endsnippet

snippet cml "CML" iA
CML
endsnippet

snippet not "Notation" bA
\begin{notation}
	$1
\end{notation}
endsnippet


# vim:ft=snippets
