# Snippets for vim files
# snippets for .vimrc {{{
snippet vno "vnoremap" bA
vnoremap  $0
endsnippet

snippet ino "inoremap" bA
inoremap $0
endsnippet

snippet nno "nnoremap" bA
nnoremap $0
endsnippet

snippet nor "noremap" bA
noremap $0
endsnippet
# }}}

# snippets used within colourscheme file {{{
snippet hi "highlight" bA
highlight $1
endsnippet

snippet ctf "ctermfg" iA
ctermfg=$1
endsnippet

snippet ctb "ctermbg" iA
ctermbg=$1
endsnippet

snippet vw "Vimwiki" iA
Vimwiki$1
endsnippet
# }}}
